<div class="modal-header">
  <h4 class="modal-title">Create customer</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5>{{customer.Name}}}</h5>

</div>
<div class="modal-footer">
    <button type="button" class="btn sd-btn primary" (click)="submitCustomer()" [disabled]="false">
        <i class="icons8-add"></i>
        <span>Save</span>
    </button>
</div>