<sd-body-content
  pageLayout="page"
  [boxed]="true"
  [fullWidth]="false"
  [fullHeight]="false"
  [class]="''"
>
  <sd-body-content-header>
    <sd-page-title title="Customers"></sd-page-title>
    <button
      class="btn sd-btn default uppercase btn-with-icon"
      (click)="showAddCustomer()"
    >
      <i class="icons8-add"></i> <span>Customer</span>
    </button>
  </sd-body-content-header>
  <sd-body-content-inner>
    <customer-list [customers]="customers$ | async"></customer-list>
  </sd-body-content-inner>
</sd-body-content>
