<div class="modal-header">
  <h4 class="modal-title">Create customer</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="customerForm" (ngSubmit)="submitCustomer()">
    <div>
      <label for="name"> Name:</label>
      <input id="name" type="text" formControlName="Name" />
    </div>
    <div>
      <label for="address">Address: </label>
      <input id="address" type="text" formControlName="Address" />
    </div>
    <div>
      <label for="telephone">Telephone: </label>
      <input id="telephone" type="text" formControlName="Telephone" />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" (click)="submitCustomer()" class="btn sd-btn primary" [disabled]="false">
    <i class="icons8-add"></i> <span>Save</span>
  </button>
</div>
